#main {
    background: #d1d7e3;
     font-size: 20px;
    text-align: center;
  }
  #title {
    font-size: 70px;
    background: #000000;
    color: #ffffff;
  }
  #image {
    position: center;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  #tribute-info {
    text-align: justify;
    margin-right: 30px;
  }
  #info {
    text-align: justify;
     margin-right: 30px;
  }
  h2 {
    background: #000000;
    color: #ffffff;
    font-size: 40px;
  }
    #full {
      background: #929bad;
      padding-top: 5px;
      padding-right: 15px;
      padding-bottom: 20px;
      padding-left: 10px;
  }
  h3 {
    font-size: 35px; 
  }
  .bottom {
    padding-bottom: 10px;
      margin-right: 30px;
     margin-left: 30px;
  }